<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>CHATGPTAPI</key>
	<string>$(CHATGPTAPI)</string>
	<key>GOOGLE_APP_ID</key>
	<string>$(GOOGLE_APP_ID)</string>
</dict>
</plist>
